<mat-sidenav-container autosize class="container">
    <mat-sidenav class="sidenav" #sidenav [mode]="mode" [opened]="openSidenav">
        <mat-toolbar class="sidenav-toolbar">
        </mat-toolbar>
        <div class="user fuse-navy-900" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
            <div class="h3 username">Charlie Adams</div>
            <div class="email">adams.charlie@mail.com</div>
            <div>
                <img class="avatar" src="../../../assets/images/Velazquez.jpg" border="3">
            </div>
        </div>
        <div style="height: 30px;"></div>
        <mat-nav-list>
            <app-menu-items *ngFor="let item of navItems" [item]="item"></app-menu-items>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()" [ngClass]="showToggle">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>