<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card>
        <mat-card-header style="justify-content: center">
            <mat-card-title class="font-format">Forget Password</mat-card-title>
        </mat-card-header>
        <form [formGroup]="forgetpassword" (ngSubmit)="signin()">
            <mat-card-content fxLayout="column">
                <mat-form-field>
                    <input required matInput placeholder="Email" [formControl]="forgetpassword.controls['username']">
                    <mat-error class="error_font_format" *ngIf="forgetpassword.controls['username'].hasError('required') && forgetpassword.controls['username'].touched"> Username is required </mat-error>
                    <mat-error class="error_font_format" *ngIf="forgetpassword.controls['username'].hasError('email') && forgetpassword.controls['username'].touched"> Email invalid </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="center">
                <button class="button-format" mat-raised-button color="primary" [disabled]="forgetpassword.invalid">Submit</button>
                <br>
                <a [routerLink]="'/auth/login'">Remember Account</a>
            </mat-card-actions>
        </form>
    </mat-card>
</div>